body {
    background-color: #22252F;
    color: #E3EAEE;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#container {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5em;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: rgb(33, 35, 43);
    border-radius: 15px;
    /* height: 8em; */
    /* font-size: 34px; */
    /* margin-top: 30vh; */
    /* width: 65%; */
}

@media only screen {
    #container {
        margin-top: 5vh;
        width: 95%;
        height: 85vh;
        font-size: 25px;
    }

    #content {
        height: 18em;
    }
}

/* @media only screen and (min-width: 1023px) {
    #container {
        height: 8em;
        font-size: 34px;
        margin-top: 30vh;
        width: 65%;
    }

    #content {
        height: 5em;
    }
} */
#header {
    font-style: normal;
    font-size: 40px;
}

#content {
    width: 100%;
    font-style: italic;
}

#button {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #E3EAEE;
    color: #ecf0f1;
    
    transition: background-color .3s;
}

#button:hover, #button:focus {
    background-color: rgb(178, 180, 182);
}

#button > * {
    position: relative;
}

#button {
    font-size: 25px;
    padding: 10px;
    color: 22252F;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#button:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
        
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#button:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .25s ease-out, padding-top .2s ease-out;
}